@use 'mixins/mq' as *;
@use 'mixins/scroll' as *;
@use 'mixins/text' as *;

.knr-how-to-use {
  padding-top: 40px;
  padding-bottom: 64px;

  @include mq-md {
    padding-top: 40px;
    padding-bottom: 120px;
  }
}

.knr-how-to-use__list {
  @include scroll-row;

  display: grid;
  gap: 8px;
  grid-auto-columns: 255px;
  grid-auto-flow: column;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  scroll-padding-left: 24px;

  @include mq-md {
    grid-auto-columns: auto;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0;
    margin-right: 0;
    overflow-x: visible;
    padding-left: 0;
    padding-right: 0;
    scroll-padding-left: 0;
  }
}

.knr-how-to-use .knr-media-card {
  gap: 24px;
}

.knr-how-to-use .knr-media-card__body {
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;

  @include mq-md {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.knr-how-to-use .knr-media-card__eyebrow {
  @include text-label;
}

.knr-how-to-use .knr-media-card__link {
  @include mq-md {
    display: none;
  }
}

.knr-how-to-use .knr-progress {
  margin-top: 40px;
}
