@mixin text-display {
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 48px;
}

@mixin text-title {
  font-size: 32px;
  letter-spacing: -0.04em;
  line-height: 40px;
}

@mixin text-heading {
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
}

@mixin text-lead {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 22px;
}

@mixin text-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 14px;
  text-transform: uppercase;
}

@mixin text-button {
  font-size: 13px;
  letter-spacing: -0.02em;
  line-height: 21px;
}

@mixin text-body {
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 20px;
}

@mixin text-caps {
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 12px;
  text-transform: uppercase;
}

@mixin text-nav {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
}

@mixin text-small {
  font-size: 10px;
  letter-spacing: -0.02em;
  line-height: 14px;
}

@mixin text-micro {
  font-size: 8px;
  letter-spacing: -0.04em;
  line-height: 8px;
  text-transform: uppercase;
}
